@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'IBM Plex Sans';
        font-style: normal;
        font-weight: 100 700; 
        src: url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
    }
    body {
      font-family: 'IBM Plex Sans', sans-serif;
    }
    .hand-wave-animation {
      display: inline-block;
      animation: wave 1s infinite;
    }
    @keyframes wave {
      0%, 100% {
        transform: translateX(0) rotate(0deg);
      }
      25% {
        transform: translateX(-10px) rotate(-20deg);
      }
      50% {
        transform: translateX(0) rotate(0deg);
      }
      75% {
        transform: translateX(10px) rotate(20deg);
      }
    }
  }